<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>A responsive two column example</title>
   <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');
      
      h1,h2,h3,h4,h5,h6{
         font-weight: 900;
      }

      /* A simple css reset */
      body,table,thead,tbody,tr,td,img {
         padding: 0;
         margin: 0;
         border: none;
         border-spacing: 0px;
         border-collapse: collapse;
         vertical-align: top;
      }

      /* Add some padding for small screens */
      .wrapper {
         width: 100%;
         padding-left: 10px;
         padding-right: 10px;
      }

      h1,h2,h3,h4,h5,h6,p {
         margin: 0;
         padding: 0;
         padding-bottom: 10px;
      }

      img {
         width: 100%;
         display: block;
      }

      body{
         background: rgba(#1328c9,.5);
         font-family: 'Lato', sans-serif;
         font-size: 13px;
      }

      .head-image{
         width: 40%;
         height: auto;
      }
      .header{
         background: #fff;
         border-radius: 10px;
         margin: 40px 0;
      }
      h1{
         margin: 10px 0 30px 0;
      }
      .padded{
         padding: 30px 15px;
      }

      .p-btn{
         margin: 60px 0;
      }
      .btn{
         padding: 7px 15px;
         text-decoration: none;
         cursor: pointer;
         margin: 20px 0;
         font-weight: 600;
         font-size: 15px;
      }
      .btn-primary{
         background: #1328c9;
         color: #fff;
      }
      .big{
         padding: 18px 50px;
         border-radius: 4px;
      }
      .small{
         font-size: 12px;
      }
      .tx-primary{
         color: #1328c9;
      }

      @media only screen and (max-width: 620px) {
         .wrapper .section {
            width: 100%;
         }

         .wrapper .column {
            width: 100%;
            display: block;
         }
      }
   </style>
</head>

<body>
   <div class="verify">
      <table width="100%">
         <tbody>
            <tr>
               <td class="wrapper" width="600" align="center">
                  <!-- Header image -->
                  <table class="section header" cellpadding="0" cellspacing="0" width="600">
                     <tr>
                        <td class="column padded">
                           <table>
                                 <tbody>
                                    <tr>
                                       <td align="center">
                                          <img class="head-image" src="/img/mail.svg" alt="">

                                          <h1>Verify your email address</h1>

                                          <p>
                                             Hello <b><%= user.name %></b> you entered your email as: <b><%= user.email %></b>.
                                          </p>
                                          <p>
                                             Please verify this address by clicking the button below.
                                          </p>

                                          <p class="p-btn">
                                             <a class="btn btn-primary big" href="http://foxida.winocode.com/verify?verify=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNWY5YThkYzdmOTFmYjYwZjgwN2JlYzAyIiwidG9rZW4iOiIzVTNuUFBqZCIsImlhdCI6MTYwMzk2NDM1OSwiZXhwIjoxNjA0MDUwNzU5fQ.IN4xje_O6DzK8U3AVjq8tvs9-V3LuOaRAZlEnQWOmRY" target="_blank">
                                                VERIFY YOUR EMAIL
                                             </a>
                                          </p>

                                          <p class="small">or copy this link to your browser</p>
                                          <p class="small">
                                             <span class="tx-primary">http://foxida.winocode.com/verify?verify=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNWY5YThkYzdmOTFmYjYwZjgwN2JlYzAyIiwidG9rZW4iOiIzVTNuUFBqZCIsImlhdCI6MTYwMzk2NDM1OSwiZXhwIjoxNjA0MDUwNzU5fQ.IN4xje_O6DzK8U3AVjq8tvs9-V3LuOaRAZlEnQWOmRY</span>
                                          </p>
                                       </td>
                                    </tr>
                                 </tbody>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</body>
</html>